html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* titre animation */
.loader-text {
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff) !important;
  background-size: 300% 300% !important; /* Permet au dégradé de défiler */
  background-clip: text !important;
  -webkit-background-clip: text !important; /* Pour Safari */
  color: transparent !important;
  animation: gradient 3s ease-in-out infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50% !important;
  }
  50% {
    background-position: 100% 50% !important;
  }
  100% {
    background-position: 0% 50% !important;
  }
}