html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* titre animation */
.loader-text {
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff) !important;
  background-size: 300% 300% !important; /* Permet au dégradé de défiler */
  background-clip: text !important;
  -webkit-background-clip: text !important; /* Pour Safari */
  color: transparent !important;
  animation: gradient 3s ease-in-out infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50% !important;
  }
  50% {
    background-position: 100% 50% !important;
  }
  100% {
    background-position: 0% 50% !important;
  }
}

/* icone progression bar en rotation */
.icone-rotate {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icone-rotate:hover{
  animation: none;
  transform: scale(1.5);
  transition: all 10s ease-in-out;
}

/* image-backdrop */

/* .image-backdrop:hover {
  background: rgba(0, 0, 0, 0.);
  backdrop-filter: blur(25px);
transition: backdrop-filter 0.3s ease-in-out;
} */

/* whatsat-anime */

.whatsat-anime {
  position: absolute !important; 
  background-color: #25D366; /* Couleur de fond de WhatsApp */
  border-radius: 50%;
  display: flex;
 background-size: 200% 200%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  animation: scale 2s linear infinite;
}
@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


/*mes projects  images en animation */

/* .image-animation{

  animation: translate 5s linear infinite  ;
}
@keyframes translate {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
} */
