html, body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* titre animation */
.loader-text {
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff) !important;
  background-size: 300% 300% !important; /* Permet au dégradé de défiler */
  background-clip: text !important;
  -webkit-background-clip: text !important; /* Pour Safari */
  color: transparent !important;
  animation: gradient 3s ease-in-out infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50% !important;
  }
  50% {
    background-position: 100% 50% !important;
  }
  100% {
    background-position: 0% 50% !important;
  }
}

/* icone progression bar en rotation */
.icone-rotate {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icone-rotate:hover{
  animation: none;
  transform: scale(1.5);
  transition: all 10s ease-in-out;
}

/* image-backdrop */

/* .image-backdrop:hover {
  background: rgba(0, 0, 0, 0.);
  backdrop-filter: blur(25px);
transition: backdrop-filter 0.3s ease-in-out;
} */

/* whatsat-anime */

.whatsat-anime {
  background-color: #25D366; /* Couleur de fond de WhatsApp */
  border-radius: 50%;
  display: flex;
 background-size: 200% 200%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  animation: scale 2s linear infinite;
}
@keyframes scale {
  0%, 100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.5);
  }
}
.whatsat-anime:hover {
animation: none;
transform: scale(1.5);  
}  

/* carousel-indicator */
.carousel-indicators [data-bs-target] {
  background-color: rgba(0, 0, 0, 0.9);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.carousel-indicators .active {
  background-color: #10b981; /* Tailwind green-500 */
}
.carousel-indicators [data-bs-target]:hover {
  background-color: #effb06; 
  transform: scale(1.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}


/* underling center */
.underling-center {
  position: relative;
  right: 40% ;left: 40%;
  display: inline-block;
}
.underling-center::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajustez la position verticale de la ligne */
  width: 100%;
  height: 5px; /* Épaisseur de la ligne */
  background-color: orange; /* Couleur de la ligne */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.underling-center:hover::after {
  transform: scaleX(1);
}

/* les titres des competences */
.underling-cente {
  position: relative;
  right: 0% ;left: 0%;
  display: inline-block;
}
.underling-cente::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajustez la position verticale de la ligne */
  width: 100%;
  height: 3px; /* Épaisseur de la ligne */
  background-color: rgb(88, 79, 4); /* Couleur de la ligne */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.underling-cente:hover::after {
  transform: scaleX(1);
}
.underling-cente {
  position: relative;
  right: 40% ;left: 40%;
  display: inline-block;
}
.underling-cente::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajustez la position verticale de la ligne */
  width: 100%;
  height: 3px; /* Épaisseur de la ligne */
  background-color: rgb(88, 79, 4); /* Couleur de la ligne */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.underling-cente:hover::after {
  transform: scaleX(1);
}



/* bordure animeted 2 */
.bordure-animed {
  position: relative;
  z-index: 0;
  background-color: wheat;
  padding: 2rem;
  border-radius: 10px;
  overflow: hidden;
}
/* small screen backround */
/* @keyframes rotate-border {
    0% {
        border: 5px solid red;
    }
    25% {
        border: 5px solid blue;
    }
    50% {
        border: 5px solid green;
    }
    75% {
        border: 5px solid yellow;
    }
    100% {
        border: 5px solid red;
    }
}

.bordure-animed {
   
    border: 5px solid red;
    animation: rotate-border 5s infinite;
}

@media (max-width: 576px){
   body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
      }

      body::after {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvLkuswwgtI7H_3SMeQtXsO7bmCAEnz4CJZA&s");
        background-size: cover;
        background-position: center;
        position: fixed;
        background-repeat: no-repeat;
        background-color: rgb(0, 0, 0, 0.9);
        filter: brightness(30%);
        animation: animation 15s linear infinite alternate;
      }
} */